.container {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #ffff;
  min-height: 100vh;
  width: 100%;
}
.w-icon {
  width: 37px;
  margin: 10px;
}
.w-header-icon {
  width: 55px;
  padding-top: 15px;
}
.help-img {
  -webkit-box-shadow: -1px 7px 60px -2px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: -1px 7px 60px -2px rgba(0, 0, 0, 0.57);
  box-shadow: -1px 7px 60px -2px rgba(0, 0, 0, 0.57);
  margin-top: 20px;
  padding: 40px;
  height: 120vh;
}
